Django>=3.2
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.2+cpu
torchvision==0.16.2+cpu
tensorflow-cpu
h5py
ultralytics
ensemble_boxes
Pillow
opencv-python-headless
matplotlib
numpy
gradio
gunicorn
whitenoise
